@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/RubikMonoOne-Regular.ttf') format('truetype');
}                       
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 200;
  src: url('/src/assets/fonts/Playball-Regular.ttf') format('truetype');
}                       

@import "tailwindcss";


/* :root {
  --font-rubik-mono: 'Rubik Mono One', monospace;
} */

@layer base {
  body {
    font-family: 'Playball', monospace;
    font-family: 'Rubik Mono One', monospace;
  }
}
